header
{
	h1
	{
		text-align: center;
	}
}

ddiv.forms
{
	@include make-row();

	form
	{
		@include make-col( 12 );
		@include media-breakpoint-up(md)
		{
			@include make-col( 6 );
		}
	}

	form#text_form
	{
		@include make-col( 12 );
	}
}

div.forms form
{
	margin-bottom: 2em;
	border-width: $border-width;
	border-color: $border-color;
	border-style: solid;
	padding: 0.5em;
}


.gallery_link
{
	.btn
	{
		cursor: pointer;
	}
}