.table
{
	border-color: $table-border-color;
	border-style: solid;
	border-width: thin;

	thead th
	{
		border-bottom: none;
	}

	caption
	{
		caption-side: top;
		color: $body-color;
		padding-top: 0.1em;
		padding-bottom: 0.1em;
		text-align: center;
	}
}
